
.vs/MMR/FileContentIndex/0e9c65c8-cf93-43b5-8825-29cffa74f4f7.vsidx
.vs/MMR/FileContentIndex/read.lock
.vs/MMR/v17/.wsuo
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
src/OpenGL/.vs/OpenGL/FileContentIndex/41443757-4cd5-4912-9c3c-58e0282fd329.vsidx
src/OpenGL/.vs/OpenGL/FileContentIndex/eb06cdeb-b1b2-4201-9e1f-6d4c2374d848.vsidx
src/OpenGL/.vs/OpenGL/FileContentIndex/read.lock
src/OpenGL/.vs/OpenGL/v17/.suo
src/OpenGL/.vs/OpenGL/v17/Browse.VC.db
src/OpenGL/.vs/OpenGL/v17/Browse.VC.db-shm
src/OpenGL/.vs/OpenGL/v17/Browse.VC.db-wal
src/OpenGL/.vs/OpenGL/v17/Browse.VC.opendb
src/OpenGL/.vs/OpenGL/v17/ipch/AutoPCH/2cfc869f78904977/APPLICATION.ipch
src/OpenGL/.vs/OpenGL/v17/ipch/AutoPCH/ae6f4f71064d1e9e/APPLICATION.ipch
src/OpenGL/.vs/OpenGL/v17/TestStore/0/000.testlog
src/OpenGL/.vs/OpenGL/v17/TestStore/0/testlog.manifest
